---
import LayoutBase from "../layouts/base.astro";
import Header from "../components/header.jsx";
---

<LayoutBase>
  <Header />
  <section class="section">
    <container class="container block">
      <h4 class="clr-tertiary">Sobre nosotros</h4>
      <p class="clr-secondary">
        Amet consectetur aperiam enim a ad deleniti ullam saepe totam labore ea
        expedita doloremque
      </p>
    </container>
  </section>
</LayoutBase>
