---
import LayoutBase from "../layouts/base.astro";
import Temperature from "../components/temperature.jsx";
import AddNewDevice from "../components/addNewDevice.jsx";

const response = await fetch(
  "http://localhost:5000/api/devices",
  {
    method: "GET",
    headers: {
      Accept: "application/json",
    },
  }
);
const fridges = await response.json();
---

<LayoutBase>
  <section
    class="grid grid-cols--1 md:grid-cols--2 gap--32 p--16 bg-accent radius-theme dpt-dark"
  >
    <div class="w--100">
      <h6 class="offb--16">Smart Fridges</h6>
      <p class="offb--16">Real time monitoring for all your online devices</p>
      <p>Anything above 18deg will be mark unhealthy by default</p>
      <AddNewDevice client:idle/>
    </div>
    <div class="flex column gap--8 noshrink">
      {
        fridges.docs.map((data: any) => (
          <Temperature name={data.name} temp={Math.floor(Math.random() * 50)} />
        ))
      }
    </div>
  </section>
</LayoutBase>
