---
import LayoutBase from "../layouts/base.astro";
---

<LayoutBase>
  <section class="section">
    <container class="container block">
      <h4 class="clr-tertiary offb--16">Account</h4>
    </container>
  </section>
</LayoutBase>
