---
import LayoutHtml from "../layouts/html.astro";
---

<LayoutHtml>
  <app class="flex row">
    <sidebar class="p--16 w--200p noshrink">
      <p>sidebar</p>
    </sidebar>
    <main class="p--16 w--100 nosrhink">
      <slot />
    </main>
  </app>
</LayoutHtml>
