<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>Doxavet</title>
    <link rel="stylesheet" type="text/css" href="/css/main.css" />
    <link
      rel="stylesheet"
      type="text/css"
      href="https://cdn.jsdelivr.net/gh/lucaburgio/iconoir@main/css/iconoir.css"
    />
  </head>
  <body class="bg-light clr-secondary">
    <slot />
  </body>
</html>

<style type="text/css" is:inline>
  @import url("https://fonts.googleapis.com/css2?family=Unbounded:wght@200;300;400;500;600;700;800;900&display=swap");
  @import url("https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

  :root {
    --theme-accent: var(--clr-brown--1);
    --theme-complementary: var(--clr-brown--0);

    --theme-primary: var(--clr-grayscale--0);
    --theme-secondary: var(--clr-grayscale--10);
    --theme-tertiary: var(--clr-brown--9);

    --theme-error: var(--clr-red--5);
    --theme-info: var(--clr-blue--2);
    --theme-muted: var(--clr-grayscale--1);
    --theme-success: var(--clr-green--5);
    --theme-warning: var(--clr-yellow--5);
  }

  :root {
    --baseTypography--fontColor: var(--clr-grayscale--10);
    --baseTypography--fontFamily: "Work Sans", sans-serif;
    --baseTypography--fontSize: 16;
    --baseTypography--fontLetterSpacing: 0;
    --baseTypography--fontLineHeight: 1.5;
    --baseTypography--fontWeight: var(--fontWeight--normal);
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  button {
    font-family: "Unbounded", sans-serif;
  }
</style>
