---
import LayoutHtml from "../layouts/html.astro";
import Temperature from "../components/temperature.jsx";
import AddNewDevice from "../components/addNewDevice.jsx";

let res: Response;
let fridges: any;

try {
  res = await fetch("http://127.0.0.1:8090/api/collections/devices/records", {
    method: "GET",
    headers: {
      Accept: "application/json",
    },
  });
  if (res?.ok) {
    fridges = await res.json();
  } else {
    console.log(`HTTP Response Code: ${res?.status}`);
  }
} catch (err) {
  console.log("There was an error", err);
}
---

<LayoutHtml>
  <section
    class="grid grid-cols--1 md:grid-cols--2 gap--32 p--16 bg-accent radius-theme dpt-dark"
  >
    <div class="w--100">
      <h6>Smart Fridges</h6>
      <p>Real time monitoring for all your online devices</p>
      <p>Anything above 18deg will be mark unhealthy by default</p>

      <AddNewDevice client:idle />
    </div>
    <div class="flex column gap--8 noshrink">
      {
        fridges.items.map((data: any) => (
          <Temperature name={data.name} temp={Math.floor(Math.random() * 30)} />
        ))
      }
    </div>
  </section>
</LayoutHtml>
