---
import LayoutBase from "../../layouts/base.astro";
---

<LayoutBase>
  <section class="section">
    <container class="container block">
      <h1>Products page</h1>
    </container>
  </section>
</LayoutBase>
